server {
    listen 12345 ssl;
    listen [::]:12345 ssl ipv6only=on;
    
    ssl_certificate /etc/ssl/certs/ca.crt;
    ssl_certificate_key /etc/ssl/private/ca.key;
    ssl_client_certificate /etc/ssl/certs/ca.crt;
    ssl_verify_client on;

    location / {
        proxy_pass http://localhost:23456;
    } 
}
